* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: $font-size;
	font-weight: 400;
	font-family: $font-family;
	background-color: #faf8f5;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

// ===============================================================================================================

body {
	&.lock {
		overflow: hidden;
	}
	@media (any-hover: hover) {
		&:hover {
			&.pl {
				padding-right: 17px;
			}
		}
	}
}
.wrapper {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	width: 100%;
	max-width: $container-width + $container-padding * 2;
	padding: 0 $container-padding;
	margin: 0 auto;

	&-big {
		@extend .container;

		max-width: 1920px;
		padding: 0 60px;

		@media (max-width: 1440px) {
			padding: 0 15px;
		}
	}
	&-m {
		@extend .container;

		max-width: 1350px;
	}
}

.title {
	font-size: 56px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -3px;
	color: $black;
	text-align: center;

	&-big {
		@extend .title;
		font-size: 64px;
	}

	@media (max-width: 900px) {
		font-size: 46px;
	}
	@media (max-width: 550px) {
		font-size: 34px;
	}
}

.button {
	padding: 16px 24px;
	border-radius: 12px;
	min-height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: Helvetica Neue;
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	color: $black;
	transition: 300ms;

	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.05);
		}
	}
}
